<h2 class="h2">2026</h2>
<ul>
<li><b>Networking Unplugged: Hands-On, Inquiry-Based
Learning for Undergraduate Networking Courses</b> <br />
<a href="{{ site.url }}/docs/a4ne2026netunplugged.pdf"><i
class="fa fa-file-text-o"></i>Paper</a><br />
Aaron Gember-Jacobson.<br />
SIGCOMM Education Workshop 2026: Networking Education for the AI Generation (A4NE),
2026.</li>

<li><b>CAP: Detecting Network Device Misconfigurations with Context-Aware Prompting of LLMs</b> <br />
<a href="{{ site.url }}/docs/pomacs2026cap.pdf"><i
class="fa fa-file-text-o"></i>Paper</a>&emsp;
<a href="{{ site.url }}/docs/pomacs2026cap_slides.pptx"><i
class="fa fa-file-powerpoint-o"></i>Slides</a><br />
Xi Jiang, Aaron Gember-Jacobson, Nick Feamster.<br />
Proceedings of the ACM on Measurement and Analysis of Computing Systems (POMACS): Volume 10, Issue 2,
2026.</li>
</ul>

<h2 class="h2">2025</h2>
<ul>
<li><b>Poster: Light Security: Discovering Vulnerabilities in Theatrical Lighting Control Systems and Assessing Their Prevalence</b><br />
<a href="{{ site.url }}/docs/soups2025light-security.pdf"><i class="fa fa-file-text-o"></i>Extended abstract</a>&emsp;
<a href="{{ site.url }}/docs/soups2025light-security_poster.pdf"><i class="fa fa-file-image-o"></i>Poster</a><br />
Brian Douglas Jr., Aaron Gember-Jacobson.<br />
USENIX Symposium on Usable Privacy and Security (SOUPS),
2025.</li>

<li><b>Poster: Evaluating Browser-Based Networking for Real-Time Multiplayer Games</b> <br />
<a href="{{ site.url }}/docs/nsdi2025browser-networking.pdf"><i class="fa fa-file-text-o"></i>Extended abstract</a>&emsp;
<a href="{{ site.url }}/docs/nsdi2025browser-networking_poster.pdf"><i class="fa fa-file-image-o"></i>Poster</a><br />
Danny Orlando, Aaron Gember-Jacobson.<br />
USENIX Symposium on Networked Systems Design and Implementation (NSDI),
2025.</li>
</ul>
