<!DOCTYPE html>
<html lang="en-US">

  <!-- HTML head from _includes -->
  {% include head.html %}

  <!-- HTML body -->
  <body class="d-flex flex-column min-vh-100">

    <!-- Header from _includes (with navbar) -->
    {% include header.html %}

    <!-- Main content -->
    <div class="title">
    <h1>{{ title }}</h1>
    </div>

    <div class="container">
    {{ content }}
    </div>

    <!-- Bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  </body>
</html>
